button {
	border: none;
    padding: 4px 40px;
    font-family: 'Mukta Malar';
    font-weight: 700;
    border-radius: 3px;
    color: white;
    font-style: italic;
    font-size: 1.5em;
    transition: box-shadow 0.3s;
    transition-property: box-shadow;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
	opacity: 0.9;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.18);
}
.orangeGradient {
	background: -webkit--webkit-linear-gradient(65deg, rgb(246, 85, 85) 0%, rgb(245, 85, 86) 0%, rgb(252, 207, 49) 100%);
	background: -webkit-linear-gradient(65deg, rgb(246, 85, 85) 0%, rgb(245, 85, 86) 0%, rgb(252, 207, 49) 100%);
}

.blueGradient {
	background: -webkit--webkit-linear-gradient(65deg, rgb(87, 25, 208) 0%, rgb(11, 204, 238) 100%);
    background: -webkit-linear-gradient(65deg, rgb(87, 25, 208) 0%, rgb(11, 204, 238) 100%);
}

.purpleGradient {
	background: -webkit-linear-gradient(65deg, rgb(143, 28, 211) 0%, rgb(216, 0, 167) 100%);
    background: linear-gradient(65deg, rgb(143, 28, 211) 0%, rgb(216, 0, 167) 100%);
}

.greyGradient {
	background: -webkit-linear-gradient(65deg, rgb(74, 77, 103) 0%, rgb(119, 125, 165) 100%);
    background: linear-gradient(65deg, rgb(74, 77, 103) 0%, rgb(119, 125, 165) 100%);
}

.greenGradient {
	background: -webkit-linear-gradient(65deg, rgb(10, 90, 0) 0%, rgb(0, 239, 40) 100%);
    background: linear-gradient(65deg, rgb(10, 90, 0) 0%, rgb(0, 239, 40) 100%);
}