.list{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: start;
	align-items: stretch;
	align-content: flex-start;
}

.list-title {
	text-align: left;
}

.list-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
}

.main-row-element {
	flex-grow: 3;
}